<form class="form-horizontal" name="authorizationForm">
    <fieldset>
       
        <div class="form-group">
            <label class="col-md-2 control-label" for="appSearchTags">Search Application</label>
            <div class="col-md-8">
                <input class="form-control" id="appSearchTags" type="text"
                       placeholder="Search"
                       ng-model="vm.newTags" />
            </div>
            <div class="col-md-1">
                <button type="button"
                        class="btn btn-primary"
                        title="Add the specified tags">
                    Assign Group to App
                </button>
            </div>
        </div>
        <div class="row col-md-8 col-md-offset-2">
            <span ng-repeat="tag in vm.product.tags | orderBy">
                <button class="btn btn-default"
                        style="font-size:smaller;margin-bottom:12px"
                        ng-click="vm.removeTag($index)">
                    {{tag}}
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            type="submit">
                        Previous
                    </button>
                </span>
                <span>
                    <button class="btn btn-primary"
                            style="width:70px">
                        Finish
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>
