<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        List of Provisioned Users for SSO
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="display:none">RegistrationId</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Organization</th>
                    <th style="display:none">Question</th>
                    <th style="display:none">Answer</th>
                    <th style="display:none">Password</th>
                    <th>GroupName</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="profile in registrationsData">
                    <td hidden="hidden">{{profile.RegistrationId}}</td>
                    <td>{{profile.FirstName}}</td>
                    <td>{{profile.LastName}}</td>
                    <td>{{profile.Email}}</td>
                    <td>{{profile.Login}}</td>
                    <td>{{profile.Organization}}</td>
                    <td hidden="hidden">{{profile.Question}}</td>
                    <td hidden="hidden">{{profile.Answer}}</td>
                    <td hidden="hidden">{{profile.Password}}</td>
                    <td>{{profile.GroupName}}</td>
                    <td>
                        <button ng-model="$scope.Registration" ng-click="edit(registrationsData[$index])">Edit</button>
                        <button ng-click="delete($index)">Delete</button>
                    </td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>